.order {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 64px;
    justify-content: end;
    align-items: center;
    gap: 42px;
}

.price {
    display: flex;
    align-items: center;
}