.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 28, 33, 1);
    max-width: 1920px;
    min-height: 88px;
    margin: 0 auto;
}

.nav {
    list-style-type: none;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 290px 1fr;
    align-items: center;
    width: 1280px;
    padding: 0;
    margin: 0;
}

.menus {
    display: grid;
    grid-template-columns: 178px 197px;
    grid-template-rows: 56px;
    gap: 8px;
}

.block {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: center;
    gap: 8px;
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
}

.login {
    display: grid;
    grid-template-columns: 207px;
    grid-template-rows: 56px;
    justify-content: end;
}