.burger-constructor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.scroll {
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(47, 47, 55);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 173);
}